

/* Main container */
.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Title */
.title {
  text-align: center;
  margin-bottom: 20px;
  color:rgb(111, 13, 96);
}

/* Filters */
.filters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.input {
  padding: 15px;
  min-width: 280px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size:20px;
}

.view-buttons {
  display: flex;
  gap: 8px;
}

.btn {
  padding: 18px 28px;
  border: 1px solid #007bff;
  background: white;
  border-radius: 6px;
  cursor: pointer;
  font-size:16px;
  transition: 0.2s;
}

.btn.active,
.btn:hover {
  background:rgb(10, 72, 215);
  color: white;
}

/* Table */
.table-container {
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th {
  background: #f3f3f3;
  padding: 12px;
  color: brown;
  position: relative;
  left:-70px;

}

.table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  color: black;
  font-weight: 500;
  
  
}
td a{
  text-decoration: none;
  color: #157eee;
  font-weight: 700;
}

/* Cards */
.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
 
}

.card {
  width: 250px;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 10px;
  box-shadow: 0px 3px 7px rgba(19, 8, 8, 0.1);
   background: linear-gradient(135deg, #7a9eca 0%, #86bac6 100%);
}

.card h3 {
  margin-bottom: 10px;
  color:rgb(125, 4, 105);
}

.website {
  color: #157eee;
  font-weight: bold;
   text-decoration: none;
}

/* Loading / No Data */
.loading,
.nodata {
  text-align: center;
  margin-top: 100px;
  margin-bottom:100px;
  font-size:25px;
  color: red;
}
