.footer{
    height:400px;
   background-color:black;
    color: white;
}
.main-footer{
    display: flex;
    justify-content: space-around;
}
.anchor a{
  text-decoration: none;
  color:white;
  font-size:25px;
  font-weight: bolder;
}
.sub-footer2{
    display: flex;
    justify-content: space-between;
    
}
.footer-inp{
    height:40px;
    width:320px;
    border:2px solid white;
    background-color: black;
    color:white;
    font-size:18px;
    font-weight: bolder;
    border-radius:3px;

}
.foot-but{
    height:40px;
    width:140px;
    background-color: red;
    border:1px solid red;
    color: white;
    border-radius:5px;
    margin-top:10px;
    font-size:16px;
}
.main-footer p{
 font-size:17px;
 font-weight: 900;
}
.icon-foot{
    margin-right:120px;
    margin-top:20px;
}
.foot-head2{
    margin-left:40px;
    margin-top:25px;
}
 .footer-icons{
   margin-left:35px;
   font-size:25px;
}
.footer-icons2{
    margin-left:25px;
    position: relative;
    left:70px;
    font-size:25px; 
    border:1px solid red; 
    height:25px;
    padding:6px;
    border-radius:3px;
    width:25px;
    display: inline-block;
    background-color: red;

}