header {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 25px 35px;
  background-color:rgb(34, 31, 31);
  color: white;
  position: relative;

  
}
header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top:-18px;
  font-size:30px;
}

.logo-section {
  display: flex;
  align-items: center;
}

.logo-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding:20px;
}
